<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>reLayout</string>
    <key>CFBundleDisplayName</key>
    <string>reLayout</string>
    <key>CFBundleIdentifier</key>
    <string>com.vladforfutdinov.relayout</string>
    <key>CFBundleExecutable</key>
    <string>ReLayout</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>RLVersionFull</key>
    <string>0.0.0-dev</string>
    <key>NSHumanReadableCopyright</key>
    <string>© 2026 Volodymyr Forfutdinov</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>ru</string>
        <string>uk</string>
        <string>be</string>
        <string>de</string>
        <string>fr</string>
        <string>es</string>
        <string>pt</string>
        <string>pl</string>
        <string>zh-Hans</string>
        <string>ja</string>
        <string>ko</string>
    </array>
    <key>LSUIElement</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>SUFeedURL</key>
    <string>https://vladforfutdinov.github.io/reLayout/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>5nsZXP2I7Da5DGBzVPpGrqAkYSXxFZcHMllmtiO7ymY=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
</dict>
</plist>
